/** lulComment
  * @author			M. Blais, D. Scott
  * @description 	Stylesheet for JND Library
  */

.page-header { display:none; } /* hide page header */
.page-header2 { margin: 0; }

/* SEARCH AREA */
#librarySearchContent { overflow:hidden; }
.input-append input.searchbox[type="text"] {
    color: black;
}
#librarySearchContent select { border: 2px solid #BDC3C7; }
#librarySearch .caret { font-size:10px; }

.searchoptions { color: #252a2f; text-align:right; }
.searchoptions a { color: #252a2f !important; }
.searchoptions a:hover { color: #141719 !important; }
.searchbox, #primoQueryTemp { width: 782px !important; }
.searchbox2 { width: 791px !important; font-size:15px; margin:0; height: 41px;  }

.flex-between {
	display: flex;
	justify-content: space-between;
}

::placeholder {
  color: black !important;
  opacity: 100%;
}

/* CATALOGUE SEARCH */
.current { background: #E1E4E7 !important; color: #647483 !important; }
.dropdown-menu li.active > a, .dropdown-menu li.selected > a, .dropdown-menu li.active > a.highlighted, .dropdown-menu li.selected > a.highlighted { background: #f3f4f5 !important; color: #647483 !important; }

/* DB SEARCH */
#dbdesc { display:none; } /* DB description */


/* OVERRIDES */
.main-container2 { background: #FFF; } /* replaces .main-container, no shadow */
#lulContent .span25 { width: 20%; margin-left: 0px; }
/* Accessibility - sufficient contrast */
#librarySearch, #librarySearch li a { color: #252a2f }
#librarySearch li.active a { color: #141719 }
#lulContent a, #libnews a { font-weight: bolder; color: #003e7e; }
body { font-family: "Open Sans", sans-serif !important; font-size: 1em !important; }

/* NAV AREA MIDDLE */
.libraryMenuShadow { box-shadow: 0 0 50px #f1f1f1 inset; } /* 60px original */
.libraryMenu { padding-top:1em; }
.libraryMenu ul { margin:0 !important; padding:0 !important; list-style:none; }
.libraryMenu li { padding-left:1em !important; text-indent: -1em; list-style:none; }
.libraryMenu a:hover { color: #6972a3 !important; text-decoration:underline; }

/* BOTTOM QUICKLINKS */
.quicklinks a { font-size: 1.286em; font-weight: bolder; opacity:0.8; }
.quicklinks span:last-child { text-align:right; }
.quicklinks a img { padding-right:10px; vertical-align:middle; }
.quicklinks a:hover { opacity:1; text-decoration:underline; }

/* HOURS OF OPERATION */
#libraryHours .border { border: 1px solid #8b8f9a; }
#libraryHours .dates span { width: 37px; display:inline-block; background: #48547b; margin:0; padding:0; border-right: 1px solid #525c7c; text-align:center; min-height:36px; line-height:36px; color: #FFF; font-weight: 200; font-size: 14px; cursor:pointer; }
#libraryHours .dates span.active, #libraryHours .dates span:hover { background: #5d688c; }
#libraryHours .dates span:last-child { border-right:none !important;  }
#libraryHours .today { padding: 1em; text-align:right; color: #003e7e; position:relative;cursor:default !important; }
#libraryHours .today label {  margin:0; padding-top:4px; font-weight: 100; float:left;  }
#libraryHours .today .active, .active label { font-weight: 200 !important; }
#libraryHours .today p { letter-spacing: normal !important; cursor:pointer }
#libraryHours .today label, #libraryHours .today p { font-size: 0.9em; }
#libraryHours .arrow:after { 	z-index: 2; position: absolute; top: 98.1%; left: 44.5%; content: ''; width: 0; height: 0; border-top: solid 15px #FFF; border-left: solid 15px transparent; border-right: solid 15px transparent; }
#libraryHours .moreHours { background: #3c476b; text-align:center; padding: 16px 30px; }
#libraryHours .moreHours a { color: #FFF !important; }
#libraryHours .moreHours a:hover  { color: #bdc9f3 !important; }
#libraryHours .fullwidth { text-align:center  !important; width:207px !important; }
.arc { display:none !important; }
.desktoponly { display:inline-block !important; }

.subtitle { margin-bottom:0px !important; }
.notice:before { content: "* "; }
.notice { font-size:0.75em; font-style:italic; padding-top:5px; }


/* ASK A LIBRARIAN */
#askalibrarian { 
	z-index:1000;
	position: fixed;
	background: #fec426;
	text-align:center;
	width: 200px;
	bottom:-10px;
    right: 20px; 
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 20px #f1f1f1; 
}
#askalibrarian h6 {
  color: #1d2a54;
  font-weight: initial;
}

div.input-append {
    margin-bottom: 0;
}
.googlescholar .input-append {
    width: 90%;
}

div#lulContent {
    padding: 0px;
}

div#libnews li {
  line-height: 1em;
}
div#libnews ul {
  margin-bottom: 1em;
}
div#lulContent h5 {
	margin-top: 0px;
}

/* iPad / Smaller Desktops */
@media screen and (max-width: 1200px) { 
	.desktoponly { display:none !important; }
	.searchbox, #primoQueryTemp { width: 555px !important; }
	.searchbox2 { width: 565px !important; }
	.quicklinks a:after { content: "" !important; }
	
	/* HOURS OF OPERATION */
	#libraryHours .dates span { width: 28px; line-height:28px; min-height:28px; }
	#libraryHours .today { font-size: 12px; padding: 20px; }
	#libraryHours .arrow:after { 	left: 44.5%; border-top: solid 10px #FFF; border-left: solid 10px transparent; border-right: solid 10px transparent;  }
	#libraryHours .today label { font-size:12px !important; }
	#libraryHours .fullwidth { width: 142px !important; }
	#libraryHours .moreHours { font-size:13px !important; line-height: 1em; }
	.hidden { display:none !important; }
}
@media screen and (min-width:1200px) {
	
	.hidden { display: inline-block !important; visibility:visible !important; }	
}

@media screen and (min-width: 780px) { 
    .main-container2 { padding: 0 40px; }
}

@media screen and (max-width: 780px) { 
	.main-container2 .span9, .span25 { width:90% !important; }
	.quicklinks span:last-child { text-align:center !important;}
	.searchbox, .searchbox2, #primoQueryTemp  { width: 100% !important; }
	.quicklinks span { margin-bottom:10px; width:100% !important; text-align: center; }
  .news-panel { width: 100% !important; }
  div#lulContent h5 { margin-top: 1em; }
  h5#archives-links { margin-top: 0em; }
  .libraryh3lp { width: 50%; margin: 0 auto; }
  #libraryHours { width: 204px; }
  #search-hours { padding-bottom: 0px !important; }
}
