<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% autoescape false %}{{ _("Laurentian University Library &amp; Archives") }}{% endautoescape %}</title>
    <link href="static.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ _("The Laurentian University library and archives support the research and learning needs of students, faculty, and staff.") }}">
  </head>
  <body>
    <div id="container">
    <nav class="navbar">
      <a href="#main" id="main_skip" class="sr-only">{{ _("Skip to main content") }}</a>
      <div id="header-navigation">
        <div class="content">
          <ul class="menu"><li class="first leaf"><a href="{{ _('https://laurentian.ca/current-students') }}">{{ _('Students') }}</a></li>
            <li class="leaf"><a href="{{ _('https://laurentian.ca/faculty-staff') }}">{% autoescape false %}{{ _('Faculty &amp; Staff') }}{% endautoescape %}</a></li>
            <li class="leaf"><a href="{{ _('https://laurentian.ca/alumni') }}">{{ _('Alumni') }}</a></li>
            <li class="leaf"><a href="{{ _('https://my.laurentian.ca/user/login') }}">{{ _('Applicants') }}</a></li>
            <li class="last leaf"><a href="{{ _('https://laurentian.ca/parents') }}">{{ _('Parents') }}</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav">
        <li><a href="{{ _('https://laurentian.ca/give') }}">{{ _('Donate') }}</a></li>
        <li class="language"><a href="{{ _('https://biblio.laurentienne.ca/') }}" class="language-link" xml:lang="{{ _('fr-CA') }}">{{ _('Français') }}</a></li>
      </ul>
    </nav>

    <div id="header"><img src="laurentian.svg" alt="{{ _('Laurentian University logo') }}" id="lulogo" /></div>
      <div id="content">
        <div id="main">
          <div id="libheader"><h1>{{ _('Library and Archives') }}</h1></div>
          <div class="searchbox">
            <h2>{{ _('Search') }}</h2>
            <ul class="tablist" role="tablist">
              <li id="omni-tab" class="blocktab selected" role="tab" aria-selected="true" aria-controls="blocktabs-search-omni" aria-labelled-by="blocktabs-search-omni-label" aria-expanded="true">
                <a id="blocktabs-search-omni-label" class="search-tab" role="presentation">Omni</a>
              </li>
              <li id="archeion-tab" class="blocktab" role="tab" aria-selected="false" aria-controls="blocktabs-search-archeion" aria-labelled-by="blocktabs-search-archeion-label" aria-expanded="false">
                <a id="blocktabs-search-archeion-label" class="search-tab" role="presentation">Archives</a>
              </li>
            </ul>
            <div class="search-wrapper" id="omni-search-box">
              <div class="search-inner">
                <form class="search-simple" id="omni-search" name="omniForm" method="get" target="_self" action="https://omni.laurentian.ca/discovery/search" enctype="application/x-www-form-urlencoded; charset=utf-8">
                  <!-- Customizable Parameters -->
                  <input type="hidden" name="vid" value="01OCUL_LU:OMNI">
                  <input type="hidden" name="tab" value="NZPhysical">
                  <input type="hidden" name="search_scope" value="OCULDiscoveryNetwork">
                  <input type="hidden" name="mode" value="basic">
                  <input type="hidden" name="lang" value="{% if lang == 'fr-CA' %}fr{% else %}en{% endif %}">
                  <!-- Fixed parameters -->
                  <input type="hidden" name="displayMode" value="full">
                  <input type="hidden" name="bulkSize" value="10">
                  <input type="hidden" name="highlight" value="true">
                  <input type="hidden" name="dum" value="true">
                  <input type="hidden" name="query" id="primoQuery" value="">
                  <input type="hidden" name="displayField" value="all">
                  <!-- Enable this if "Expand My Results" is enabled by default in Views Wizard -->
                  <input type="hidden" name="pcAvailabiltyMode" value="true">

                  <input class="searchsubmit" id="omnigo" aria-label="{{ _('Search') }}" type="submit" value="" alt="{{ _('Search') }}"><label for="primoQueryTemp" class="sr-only">{{ _('Search query') }}</label><input type="text" class="search_field" id="primoQueryTemp" value="" placeholder="{{ _('Search Omni for books, journals, articles, videos...') }}">
                  <!-- Search Button -->
                </form>
                <div class="search-links">
                  <a id="search-omni">{{ _('What is Omni?') }}</a>
                  <a id="search-advanced" href="https://omni.laurentian.ca/discovery/search?vid=01OCUL_LU:OMNI&amp;lang={% if lang == 'fr-CA' %}fr{% else %}en{% endif %}&amp;mode=advanced">{{ _('Advanced search') }}</a>
                </div>
                <div id="what-is-omni" data-collapsed="false">
                  <p>
                  {% autoescape false %}
                  {{ _('Your best place to discover millions of quality, academic resources from 16 Ontario university libraries, including books, full text articles, unique special collections, videos, and much more. For more information about Omni see our <a href="https://biblio.laurentian.ca/research/content/frequently-asked-questions-about-omni-laurentians-new-library-system">Omni FAQ</a>.') }}
                  {% endautoescape %}
                  </p>
                </div>
              </div>
            </div>
            <div class="search-wrapper hide" id="archeion-search-box">
              <div class="search-inner">
                <form class="search-simple" id="archeion-search" name="archeionForm" method="get" target="_self" action="https://archeion.ca/informationobject/browse" enctype="application/x-www-form-urlencoded; charset=utf-8">
                  <input type="hidden" name="repos" value="3199">
                  <input type="hidden" name="sf_culture" value="{% if lang == 'fr-CA' %}fr{% else %}en{% endif %}">
                  <input class="searchsubmit" id="archeionGo" aria-label="{{ _('Search Archives') }}" type="submit" value="" alt="{{ _('Search Archives') }}"><label for="archeionQueryTemp" class="sr-only">{{ _('Search Archives') }}</label><input type="text" class="search_field" name="query" id="archeionQueryTemp" value="" placeholder="{{ _('Search Archeion for archival fonds and collections') }}">
                </form>
              </div>
            </div>
          </div>
          <div id="other-searches">
            <div id="databases">
              <input id="database-search" type="text" value="" size="25" placeholder="{{ _('Find a database') }}"><label for="database-search" class="sr-only">{{ _('Database search') }}</label>
              <ul>
              {% for entry in databases %}
                {% for db in entry.keys() -%} 
                <li class="hide"><a href="{{ entry[db].url }}">{{ db }}</a> <span class="infolink">?</span>
                {% if entry[db].notes -%}
                  <span class="notes">{{ entry[db].notes }}</span>
                {% endif %}
                {% if entry[db].description -%}
                  <span class="description hide">{{ entry[db].description }}</span>
                {% endif %}
                </li>
                {% endfor %}
              {% endfor %}
              </ul>
            </div>
            <div id="guides">
              <input id="guides-search" type="text" value="" size="25" placeholder="{{ _('Find a research guide') }}"><label for="guides-search" class="sr-only">{{ _('Guides search') }}</label>
              <ul>
              {% for entry in guides %}
                {% for guide in entry.keys() -%} 
                <li class="hide"><a href="https://biblio.laurentian.ca/research/{% if lang == 'fr-CA' %}fr/{% endif %}{{ entry[guide].url }}">{{ guide }}</a></li>
                {% endfor %}
              {% endfor %}
              </ul>
            </div>
          </div>
          <nav id="mainmenu">
            <div id="archives">
              <h2 id="archives-links"><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives') }}">{{ _('Archives') }}</a></h2>
              <ul>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab7') }}">{% autoescape false %}{{ _('Policies &amp; Procedures') }}{% endautoescape %}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab2') }}">{{ _('Archival Fonds') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab4') }}">{{ _('Anglican Diocese of Moosonee Fonds') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab6') }}">{{ _('Special Collections') }}</a></li>        
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab8') }}">{{ _('Related Sites') }}</a></li>
              </ul>
            </div>
            <div id="services">
              <h2><a href="{{ _('https://biblio.laurentian.ca/research/service') }}">{{ _('Services') }}</a></h2>
              <ul>
                <li><a href="{% autoescape false %}{{ _('https://omni.laurentian.ca/discovery/account?vid=01OCUL_LU:OMNI&amp;section=overview') }}{% endautoescape %}">{{ _('My Account') }}</a></li>
                <li><a href="{% autoescape false %}{{ _('https://omni.laurentian.ca/discovery/search?tab=CourseReserves&amp;search_scope=CourseReserves&amp;vid=01OCUL_LU:OMNI&amp;lang=en') }}{% endautoescape %}">{{ _('Course Reserves') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/managing-citations') }}">{{ _('Managing citations') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/interlibrary-loans-racer') }}">{{ _('Interlibrary Loan') }}</a></li>
              </ul>
            </div>
            <div id="research">
              <h2><a href="{{ _('https://biblio.laurentian.ca/research/guides') }}">{{ _('Research') }}</a></h2>
              <ul>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/databases-a-z') }}">{{ _('Databases') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides') }}">{{ _('Research Guides') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/services') }}">{{ _('Research Help') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/content/d2l-library-research-skills-tutorial') }}">{{ _('Research Skills Tutorial') }}</a></li>
              </ul>
            </div>
            <div id="resources">
              <h2><a href="{{ _('https://biblio.laurentian.ca/research/resources') }}">{{ _('Resources') }}</a></h2>
              <ul>
                <li><a href="{{ _('https://omni.laurentian.ca/discovery/search?vid=01OCUL_LU:OMNI') }}">{{ _('Catalogue') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/data-and-statistics') }}">{{ _('Data') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/geospatial-data-lu') }}" title="{{ _('Geographic Information Systems') }}">{{ _('GIS') }}</a></li>
                <li><a href="{{ _('https://zone.biblio.laurentian.ca/dspace/?locale=en') }}">{{ _('LU|Zone|UL: research repository') }}</a></li>
              </ul>
            </div>
          </nav>
          <div id="bigthree">
            <a href="{{ _('https://biblio.laurentian.ca/research/contact-us') }}">{{ _('Contact us') }}</a>
            <a href="{{ _('https://biblio.laurentian.ca/research/contact-us#tab3') }}">{{ _('Giving to the Library') }}</a>
            <a href="{{ _('https://biblio.laurentian.ca/research/content/library-accessibility-services') }}">{{ _('Accessibility') }}</a>
          </div>
        </div>
        <div id="sidebar">
          <div id="hours">
            <table>
              <thead>
                <tr><th colspan="2"><h2>{{ _('Today\'s hours') }}</h2><span id="all-hours"><a href="{{ _('https://laurentian.ca/library-hours') }}">{{ _('All hours') }}</a></span></th></tr>
              </thead>
              <tbody>
                {% for lib in hours %}
                  {% if lib.url %}
                <tr><th><a href="{{ lib.url }}">{{ lib.name }}</a></th><td>{{ lib.hours }}</td></tr>
                  {% else %}
                <tr><th>{{ lib.name }}</th><td>{{ lib.hours }}</td></tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="ask">
            <div class='needs-js'>{{ _('Chat loading...') }}</div>
          </div>
          <div id="news">
            <h2><a href="{{ _('https://biblio.laurentian.ca/research/news') }}">{{ _('News') }}</a></h2>
            <ul>
              {% for item in news %}
              <li><a href="{{ item.url }}">{{ item.title }}</a> ({{ item.published }})</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div id="acknowledgement">
      <h2>{{ _('Land Acknowledgment - Aki Gaabijidebendaagwak') }}</h3>
      <p>
      {% autoescape false %}
	{{ _('We would like to acknowledge the Robinson-Huron Treaty of 1850.
	We also further recognize that Laurentian University is located on the
	traditional lands of the Atikameksheng Anishnawbek and that the City of
	Greater Sudbury, also includes the traditional lands of the Wahnapitae
	First Nation. We extend our deepest respect to Indigenous peoples - as
	a sign of our continued relationship we will support Laurentian
	University’s Truth and Reconciliation Task Force Recommendations.
	Miigwech.') }} {% endautoescape %}
      </p>
      <p>
      </p><a href="{{ _('https://www.youtube.com/watch?v=wgfmXtRHFS0') }}">{{ _('Listen to it in Anishinaabemowin') }}</a>
      </div>
      <div id="footer">
        <span id="copyright">{{ _('Laurentian University, Sudbury, Ontario, Canada.') }}</span>
        <nav>
          <ul>
            <li><a href="{{ _('https://laurentian.ca/policies-accountability') }}">{{ _('Policies') }}</a></li>
            <li><a href="{{ _('https://laurentian.ca/accessibility-services') }}">{{ _('Accessibility') }}</a></li>
            <li><a href="{{ _('https://goo.gl/forms/PQg98HDZnU5PYbu42') }}">{{ _('Feedback') }}</a></li>
          </ul>
        </nav>
      </div>
    </div>

  <script>
    (function(){
      const what = document.getElementById('search-omni');
      const whatis = document.getElementById('what-is-omni');
      const archivesSearch = document.getElementById('blocktabs-search-archeion-label');
      const archivesSearchBox = document.getElementById('archeion-search-box');
      const archivesTab = document.getElementById('archeion-tab');
      const omniSearch = document.getElementById('blocktabs-search-omni-label');
      const omniSearchBox = document.getElementById('omni-search-box');
      const omniTab = document.getElementById('omni-tab');

      archivesTab.addEventListener('click', function(event) {
        archivesSearch.parentElement.classList.add('selected');
        archivesSearchBox.classList.remove('hide');
        archivesTab.ariaExpanded = 'true';
        archivesTab.setAttribute('aria-expanded', 'true');
        archivesTab.ariaSelected = 'true';
        archivesTab.setAttribute('aria-selected', 'true');
        omniSearchBox.classList.add('hide');
        omniSearch.parentElement.classList.remove('selected');
        omniTab.ariaExpanded = 'false';
        omniTab.setAttribute('aria-expanded', 'false');
        omniTab.ariaSelected = 'false';
        omniTab.setAttribute('aria-selected', 'false');
      });

      omniTab.addEventListener('click', function(event) {
        archivesSearchBox.classList.add('hide');
        archivesSearch.parentElement.classList.remove('selected');
        archivesTab.ariaExpanded = 'false';
        archivesTab.ariaSelected = 'false';
        omniSearchBox.classList.remove('hide');
        omniSearch.parentElement.classList.add('selected');
        omniTab.ariaExpanded = 'true';
        omniTab.ariaSelected = 'true';
      });

      what.addEventListener('click', function(event) {
        var state = whatis.getAttribute('data-collapsed');

        if (state == "true") {
          whatis.setAttribute('data-collapsed', "false");
        } else {
          whatis.setAttribute('data-collapsed', "true");
        }
      });

      let form = document.getElementById("omni-search");
      form.addEventListener("submit", (event) => {
            document.getElementById("primoQuery").value = "any,contains," + document.getElementById("primoQueryTemp").value.replace(/[,]/g, " ");
            form.submit();
        }, { once: true });

      function searchPrimo() {
      };
    }());

    /* Database search */
    window.addEventListener("load", function(){
      let searchBox = document.getElementById("database-search");
      searchBox.value = "";
      searchBox.addEventListener("keyup", (e) => {
        if (e.key == "Escape") {
          searchBox.value = "";
        }
        var search = searchBox.value.toLowerCase();
        var all = document.querySelectorAll("#databases li");

        for (let i of all) {
          let item = i.innerHTML.toLowerCase();
          if ((item.indexOf(search) == -1) || (search == "")) { i.classList.add("hide"); }
          else { i.classList.remove("hide"); }
        }
      });
    });

    /* Guides search */
    window.addEventListener("load", function(){
      let searchBox = document.getElementById("guides-search");
      searchBox.value = "";
      searchBox.addEventListener("keyup", (e) => {
        if (e.key == "Escape") {
          searchBox.value = "";
        }
        var search = searchBox.value.toLowerCase();
        var all = document.querySelectorAll("#guides li");

        for (let i of all) {
          let item = i.innerHTML.toLowerCase();
          if ((item.indexOf(search) == -1) || (search == "")) { i.classList.add("hide"); }
          else { i.classList.remove("hide"); }
        }
      });
    });


    /* Show/hide description */
    window.addEventListener("load", function(){
        let all = document.querySelectorAll("#databases li span.infolink");
        all.forEach(el => el.addEventListener("click", event => {
          event.target.parentNode.querySelector("span.description").classList.toggle("hide");
        }));
    });

    /* Chat widget */
    (function() {
      var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
      x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "ca.libraryh3lp.com/js/libraryh3lp.js?{{ libhelp }}";
      var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
    })();

  </script>
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//biblio.laurentian.ca/analytics/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '7']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>

  </body>
</html>
