<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% autoescape false %}{{ _("Laurentian University Library &amp; Archives") }}{% endautoescape %}</title>
    <link href="static.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div id="container">
    <nav class="navbar">
      <a href="#main-content" id="main_skip" class="sr-only">{{ _("Skip to main content") }}</a>
      <div id="header-navigation">
        <div class="content">
          <ul class="menu"><li class="first leaf"><a href="{{ _('https://laurentian.ca/current-students') }}">{{ _('Students') }}</a></li>
            <li class="leaf"><a href="{{ _('https://laurentian.ca/faculty-staff') }}">{% autoescape false %}{{ _('Faculty &amp; Staff') }}{% endautoescape %}</a></li>
            <li class="leaf"><a href="{{ _('https://laurentian.ca/alumni') }}">{{ _('Alumni') }}</a></li>
            <li class="leaf"><a href="{{ _('https://my.laurentian.ca/user/login') }}">{{ _('Applicants') }}</a></li>
            <li class="last leaf"><a href="{{ _('https://laurentian.ca/parents') }}">{{ _('Parents') }}</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav">
        <li><a href="{{ _('https://laurentian.ca/give') }}">{{ _('Donate') }}</a></li>
        <li class="language"><a href="{{ _('https://bibio.laurentienne.ca/') }}" class="language-link" xml:lang="fr">{{ _('Français') }}</a></li>
      </ul>
    </nav>

    <div id="header"><img src="https://laurentian.ca/sites/all/themes/newLul/assets/images/laurentian.svg" alt="{{ _('Laurentian University logo') }}" id="lulogo" /></div>
      <div id="content">
        <div id="main">
          <div id="libheader"><h1>{{ _('Library and Archives') }}</h1><a id="covid19" href="{{ _('https://biblio.laurentian.ca/research/content/covid-19-library-and-archives-faq') }}">{{ _('COVID-19: Library and Archives FAQ') }}</a></div>
          <div id="searchbox">
            <div id="search-wrapper">
              <div id="search-inner">
                <form id="simple" name="omniForm" method="get" target="_self" action="https://omni.laurentian.ca/discovery/search" enctype="application/x-www-form-urlencoded; charset=utf-8">
                  <!-- Customizable Parameters -->
                  <input type="hidden" name="vid" value="01OCUL_LU:OMNI">
                  <input type="hidden" name="tab" value="Everything">
                  <input type="hidden" name="search_scope" value="MyInst_and_CI">
                  <input type="hidden" name="mode" value="basic">
                  <!-- Fixed parameters -->
                  <input type="hidden" name="displayMode" value="full">
                  <input type="hidden" name="bulkSize" value="10">
                  <input type="hidden" name="highlight" value="true">
                  <input type="hidden" name="dum" value="true">
                  <input type="hidden" name="query" id="primoQuery" value="">
                  <input type="hidden" name="displayField" value="all">
                  <!-- Enable this if "Expand My Results" is enabled by default in Views Wizard -->
                  <input type="hidden" name="pcAvailabiltyMode" value="true">

                  <input class="searchsubmit" id="omnigo" aria-label="{{ _('Search') }}" type="submit" value="" alt="{{ _('Search') }}"><label for="primoQueryTemp" class="element-invisible">{{ _('Search query') }}</label><input type="text" class="search_field" id="primoQueryTemp" value="" placeholder="{{ _('Search Omni for books, journals, articles, videos...') }}">
                  <!-- Search Button -->
                </form>
                <div class="search-links">
                  <a id="search-omni">{{ _('What is Omni?') }}</a>
                  <a id="search-advanced" href="{% autoescape false %}{{ _('https://omni.laurentian.ca/discovery/search?vid=01OCUL_LU:OMNI&amp;lang=en&amp;mode=advanced') }}{% endautoescape %}">{{ _('Advanced search') }}</a>
                </div>
                <div id="what-is-omni" data-collapsed="false">
                  <p>
                  {% autoescape false %}
                  {{ _('Your best place to discover millions of quality, academic resources from 16 Ontario university libraries, including books, full text articles, unique special collections, videos, and much more. For more information about Omni see our <a href="/about/about-library/omni/omni-faq">Omni FAQ</a> and <a href="https://guides.lib.uoguelph.ca/Omni">getting started with Omni guide</a>.') }}
                  {% endautoescape %}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <nav id="mainmenu">
            <div id="archives">
              <h2 id="archives-links"><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives') }}">{{ _('Archives') }}</a></h2>
              <ul>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab2') }}">{% autoescape false %}{{ _('Policies &amp; Procedures') }}{% endautoescape %}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archival-fonds') }}">{{ _('Archival Fonds') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/anglican-diocese-moosonee') }}">{{ _('Anglican Diocese of Moosonee Fonds') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/special-collections-archives') }}">{{ _('Special Collections') }}</a></li>        
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/archives#tab3') }}">{{ _('Related Sites') }}</a></li>
              </ul>
            </div>
            <div id="services">
              <h2><a href="{{ _('https://biblio.laurentian.ca/research/service') }}">{{ _('Services') }}</a></h2>
              <ul>
                <li><a href="{% autoescape false %}{{ _('https://omni.laurentian.ca/discovery/account?vid=01OCUL_LU:OMNI&amp;section=overview') }}{% endautoescape %}">{{ _('My Account') }}</a></li>
                <li><a href="{{ _('https://omni.laurentian.ca/discovery/search?vid=01OCUL_LU:OMNI') }}">{{ _('Course Reserves') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/managing-citations') }}">{{ _('Managing citations') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/interlibrary-loans-racer') }}">{{ _('Interlibrary Loan') }}</a></li>
              </ul>
            </div>
            <div id="research">
              <h2><a href="{{ _('https://biblio.laurentian.ca/research/guides') }}">{{ _('Research') }}</a></h2>
              <ul>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/databases-a-z') }}">{{ _('Databases') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides') }}">{{ _('Research Guides') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/services') }}">{{ _('Research Help') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/services/#tab8') }}">{{ _('Research Skills Tutorial') }}</a></li>
              </ul>
            </div>
            <div id="resources">
              <h2><a href="{{ _('https://biblio.laurentian.ca/research/resources') }}">{{ _('Resources') }}</a></h2>
              <ul>
                <li><a href="{{ _('https://omni.laurentian.ca/discovery/search?vid=01OCUL_LU:OMNI') }}">{{ _('Catalogue') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/copyright-lu') }}">{{ _('Copyright @ LU') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/data-and-statistics') }}">{{ _('Data') }}</a></li>
                <li><a href="{{ _('https://biblio.laurentian.ca/research/guides/geospatial-data-lu') }}" title="{{ _('Geographic Information Systems') }}">{{ _('GIS') }}</a></li>
                <li><a href="{{ _('https://zone.biblio.laurentian.ca/dspace/?locale=en') }}">{{ _('LU|Zone|UL: research repository') }}</a></li>
              </ul>
            </div>
          </nav>
          <div id="bigthree">
            <a href="{{ _('https://biblio.laurentian.ca/research/contact-us') }}">{{ _('Contact us') }}</a>
            <a href="{{ _('https://biblio.laurentian.ca/research/contact-us#tab3') }}">{{ _('Giving to the Library') }}</a>
            <a href="{{ _('https://biblio.laurentian.ca/research/content/library-accessibility-services') }}">{{ _('Accessibility') }}</a>
          </div>
        </div>
        <div id="sidebar">
          <div id="hours">
            <table>
              <thead>
                <tr><th colspan="2"><h2>{{ _('Today\'s hours') }}</h2><span id="all-hours"><a href="{{ _('https://laurentian.ca/library-hours') }}">{{ _('All hours') }}</a></span></th></tr>
              </thead>
              <tbody>
                {% for lib in hours %}
                <tr><th><a href="">{{ lib.name }}</a></th><td>{{ lib.hours }}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="ask">
            <div class='needs-js'>{{ _('Chat loading...') }}</div>
          </div>
          <div id="news">
            <h2><a href="{{ _('https://biblio.laurentian.ca/research/news') }}">{{ _('News') }}</a></h2>
            <ul>
              {% for item in news %}
              <li><a href="{{ item.url }}">{{ item.title }}</a> ({{ item.published }})</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <p id="acknowledgement">
      {% autoescape false %}
        {{ _('We would like to acknowledge that the J.N. Desmarais Library &amp;
        Archives are located on the traditional territory of the Atikameksheng
        Anishnaabek and Wanipitei First Nations, which is within the
        Robinson-Huron Treaty territory.') }}
      {% endautoescape %}
      </p>
      <div id="footer">
        <span id="copyright">{{ _('Laurentian University, Sudbury, Ontario, Canada.') }}</span>
        <nav>
          <ul>
            <li><a href="{{ _('https://laurentian.ca/policies-accountability') }}">{{ _('Policies') }}</a></li>
            <li><a href="{{ _('https://laurentian.ca/accessibility-services') }}">{{ _('Accessibility') }}</a></li>
            <li><a href="{{ _('https://goo.gl/forms/PQg98HDZnU5PYbu42') }}">{{ _('Feedback') }}</a></li>
          </ul>
        </nav>
      </div>
    </div>

  <script>
    (function(){
      const what = document.getElementById('search-omni');
      const whatis = document.getElementById('what-is-omni');

      what.addEventListener('click', function(event) {
        var state = whatis.getAttribute('data-collapsed');

        if (state == "true") {
          whatis.setAttribute('data-collapsed', "false");
        } else {
          whatis.setAttribute('data-collapsed', "true");
        }
      });

      let form = document.getElementById("simple");
      form.addEventListener("submit", (event) => {
            document.getElementById("primoQuery").value = "any,contains," + document.getElementById("primoQueryTemp").value.replace(/[,]/g, " ");
            form.submit();
        }, { once: true });

      function searchPrimo() {
      };
    }());

    /* Chat widget */
    (function() {
      var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
      x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "ca.libraryh3lp.com/js/libraryh3lp.js?643";
      var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
    })();

  </script>
  </body>
</html>
